.main-header {
    color: #034f84;
    border-style: groove;
    border-width: 5px;
    border-color: #f7786b;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  background-color: #ffe0e0;
}





p {
  color: #034f84;
  font-family: "Times New Roman", Times, serif;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;  
  }

  table, th, td {
    border: ridge;
    border-color: #f7786b;
    border-width: 5px;
  }

th {
    height: 50px;
}
table {
  color: #034f84;
  background-color: #ffe0e0;
}

li {
    display: inline;
    background-color: #ffe0e0; 
    
    }
  ul {
    text-align: center;
    color: white;
  }
form {
  display: inline;
}
div .sub{
  white-space: nowrap;
}

