.main-header {
    color: #667292;
    border-style: double;
    border-width: 15px;
    border-color: #bccad6;
    font-family: "Times New Roman", Times, serif;
  background-color: #f1e3dd;
}





p {
  color: #667292;
  font-family: sans-serif;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;  
  }

  table, th, td {
    border: double;
    border-color: #bccad6;
    border-width: 10px;
  }

th {
    height: 50px;
}
table {
  color: #667292;
  background-color: #f1e3dd;
}

